<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand" href="#">TODOLIST</a>
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="index.jsp">home</a>
		</li>
		<li class="nav-item"><a class="nav-link" href="signUp.jsp">sign up</a></li>
	</ul>
</nav>