<%@page import="java.util.Base64"%>
<%if("success".equals(request.getParameter("cause"))){%>
	<div class="alert alert-success">
		<strong>Success!</strong> New user has been added successfully!
	</div>
<%} else if ("failure".equals(request.getParameter("cause"))){%>
	<div class="alert alert-danger">
		<strong>Failure!</strong> <%=new String(Base64.getDecoder().decode(request.getParameter("reason")))%>
	</div>
<%}%>