<div class="jumbotron jumbotron-fluid bg-secondary text-white">
	<div class="container">
		<%@ include file="/WEB-INF/fragments/signUpAlert.jspf"%>
		<h3>Add new user:</h3>
		<form action="addUser" method="POST">
			<div class="form-group">
				<label for="userName"> user name : </label>
				<input type="text" name="name" placeholder="default" class="form-control" id="userName"/>
			</div>
			<div class="form-group">
				<label for="passwd">password  : </label>
				<input type="text" name="pass" placeholder="password" class="form-control" id="passwd"/>
			</div>
			<button type="submit" class="btn btn-outline-light">submit</button>
		</form>
	</div>
</div>