.root {
	-fx-background-color : gray;
}

.label {
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

.button {
	-fx-min-width: 150;
	-fx-background-color : silver;
	-fx-text-fill: black;
	-fx-padding : 20;
	-fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-background-radius: 2;
    -fx-font-weight: bold;
}

.button:hover {
	-fx-text-fill : azure;
}

.button:pressed {
	-fx-text-fill: azure;
	-fx-background-color : lightgray;
}

.list-view {
	-fx-min-width: 500;
	-fx-background-color: azure;
}

.list-cell {
	-fx-min-width: 500;
    -fx-font-weight: bold;
    -fx-background-color : white;
}

.list-cell:odd {
	-fx-min-width: 500;
    -fx-font-weight: bold;
    -fx-background-color : azure;
}

#login_warning {
	-fx-text-fill: red;
	-fx-background-color : white;
	-fx-font-size: 16;
}

.loginScreenLabels{
	-fx-text-fill: white;
	-fx-font-weight: bold;
}
